<!doctype html>
{% load crispy_forms_tags %} <!-- Carrega a lib -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Comunicação de Perda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 

</head>
<body>
    <h1>Lista de Comunicações de Perda</h1>

    <form method="GET">
        <div class="input-group-prepend pb-4 pl-5 pt-4" style="width: 70%;">
        <input type="text" class="form-control" placeholder="" name="busca" id="busca">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Buscar</button>
        </div>
    </form>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nome do Produtor</th>
                <th scope="col">CPF do Produtor</th>
                <th scope="col">Data da Colheita</th>
                <th scope="col">Evento Ocorrido</th>
            </tr>
        </thead>

        {% for comunicacao in comunicacoes %}
        <tbody>
            <tr>
                <th scope="row">
                    <a href="{% url 'update_comunicacao' comunicacao.id %}">
                     {{comunicacao.nome_produtor}}</th>
                    </a>
                <td>{{comunicacao.cpf_produtor}}</td>
                <td>{{comunicacao.data_colheita}}</td>
                <td>{{comunicacao.evento}}</td>
            </tr>  
        </tbody>
        {% endfor %}

    </table>
    <div class="d-grid gap-2 d-md-block text-center pb-3"> 
        <a href="{% url 'create_comunicacao' %}">
            <button class="btn btn-primary" type="button">Nova comunicação de perda</button>
        </a>
    </div>
    
</body>
</html>